<p *ngIf='editMode'>
  Editing recipe {{id}}
</p>
<div *ngIf='!editMode'>
  <h3>New Recipe</h3>
  <form [formGroup]="recipeForm">
    <div class="row">
        <div class="col-sm-5 form-group ">
          <label class='required' for="name">Name:</label>
          <input type="text" class="form-control" formControlName="name" >
        </div>
        <div class="col-sm-7 form-group" >
          <label for="amount">Description:</label>
          <input type="text" class="form-control" formControlName="description">
    </div></div>
    <div class="row">
      <div class="col-sm-5 form-group" >
          <label for="image">Image Link:</label>
          <input type="text" class="form-control" formControlName="image">
      </div>
      <div class="col-sm-7 form-group" formArrayName="ingredients">
          <label for="ingredients">Ingredients:</label>
          <div *ngFor="let ingredient of ingredientsArray.controls; let i=index" [formGroupName]="i" >
          <input type="text" class="form-control" formControlName="ingredientName">
          <input type="number" class="form-control" formControlName="ingredientAmount">
          <br/>
        </div>
          <button type="button" class="btn btn-success" (click)='addIngredientField()'>Add</button>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-2"> 
          <button type="submit" class="btn btn-success" (click)='addRecipe()'>Add Recipe</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-danger " (click)='resetRecipe()'>Reset</button>
        </div>
        </div>
</form>
</div> 